Red = #d7191c
Green = #1a9641
@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1
&
  .vis
    position relative
    width 610px
    height 300px
    table
      th
      td
        width 100px
        text-align right
      thead
        th
          text-align right
      tbody
        tr
          transition top 0.2s, opacity 0.2s
          animation fadeIn 0.8s 1 linear
          position absolute
          &.exiting
            opacity 0
          td:first-child
            color Red
          td:last-child
            // font-weight bold
            color Green
            &[data-win="0"]
              // font-weight normal
              color black

    p
      position absolute
      top 0px
      right 0px
      width 300px
      font-size 16px
      line-height 2.1em
      font-weight 300
      .count
      .win
      .cost
      .total
        font-size 20px
        font-weight bold
        padding-left 2px
      .win
      .total-win
        color Green
      .cost
      .total-lose
        color Red
      button
        margin 0px 5px
    button
      border 1px solid ColorRed
      font-family 'Roboto', sans-serif
      background lighten(ColorRed, 98%)
      box-shadow 0px 0px 2px ColorRed
      font-weight bold
      border-radius 2px
      padding 3px 7px
      color black
      &:hover
        background lighten(ColorRed, 92%)
        cursor pointer
      &:active
        background lighten(ColorRed, 85%)
    > button
      position absolute
      bottom 0px
      right 0px
