@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig.game
  @import game
.ig.bar
  .vis
    position absolute
    top 0px
    left 0px
    width 100%
    bottom 0px
    overflow hidden
    position relative
    .bar-container
      border-top 1px solid #fa
      border-bottom 1px solid #fa
      float left
      width (100% / 13)
      height 100vh
      position relative
      .bar
        position absolute
        top 20px
        left 0px
        bottom 60px
        width 100%
        .area
          position absolute
          left 20%
          width (100% - 2 * @left)
          background ColorRed
          position absolute
          bottom 0px
          min-height 1px
          transition height 1.5s, background 1.5s
          .label-top
          .label-bottom
            position absolute
            white-space nowrap
            left 50%
            transform translate(-50%, 0)
            text-align center
          .label-top
            top -20px
            font-weight bold
          .label-bottom
            bottom -50px
    &.zoom-0
      .bar-container
        &:nth-child(10) .bar .area
          background rgba(ColorRed, 0.4)
        &:nth-child(11) .bar .area
          background rgba(ColorRed, 0.3)
        &:nth-child(12) .bar .area
          background rgba(ColorRed, 0.2)
        &:nth-child(13) .bar .area
          background rgba(ColorRed, 0.1)
    &.zoom-1
      .bar-container
        &:nth-child(10) .bar .area
          background rgba(ColorRed, 0.8)
        &:nth-child(11) .bar .area
          background rgba(ColorRed, 0.6)
        &:nth-child(12) .bar .area
          background rgba(ColorRed, 0.3)
        &:nth-child(13) .bar .area
          background rgba(ColorRed, 0.2)
    &.zoom-2
      .bar-container
        &:nth-child(12) .bar .area
          background rgba(ColorRed, 0.4)
        &:nth-child(13) .bar .area
          background rgba(ColorRed, 0.3)
    &.zoom-3
      .bar-container
        &:nth-child(12) .bar .area
          background rgba(ColorRed, 0.7)
        &:nth-child(13) .bar .area
          background rgba(ColorRed, 0.5)
  button
    position absolute
    top 10px
    right 10px
    border 1px solid ColorRed
    font-family 'Roboto', sans-serif
    background lighten(ColorRed, 98%)
    box-shadow 0px 0px 2px ColorRed
    font-weight bold
    border-radius 2px
    padding 5px 10px
    color black
    &:hover
      background lighten(ColorRed, 92%)
      cursor pointer
    &:active
      background lighten(ColorRed, 85%)

  .top-indicator
    position absolute
    top -8px
    left -18px
    transform rotate(270deg)
    transform-origin right center
    opacity 1
    transition opacity 0.2s
    width 90px
    text-align right
    &:after
      content "→"
      padding-left 7px
    &.zoom-0
      opacity 0
  .division
    position absolute
    left 23%
    top 0px
    bottom 0px
    width 1px
    background #e0
    > div
      position absolute
      white-space nowrap
      font-variant small-caps
      top 20px
      text-shadow -1px -1px 0px white, -1px 1px 0px white, 1px -1px 0px white, 1px 1px 0px white, 0px 1px 0px white, 0px -1px 0px white
      opacity 0.8
    .win
      left 10px
    .lose
      right 10px
      div
        display inline-block
        transform rotate(180deg)
